.d3-container {
  width: 100%;
  min-height: 100vh; /* At least the full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}
.dropdown-container {
  margin-bottom: 20px;
}

.select-dropdown {
  padding: 5px 10px;
  font-size: 16px;
}

.button-container {
  margin: 20px 0;
}

.center-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Disable text selection for the node text elements */
.node-text-box {
  user-select: none; /* Prevents text selection */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For older IE/Edge */
}

/* Disable text selection for button text */
button {
  user-select: none; /* Prevents text selection */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For older IE/Edge */
}

svg {
  width: 100%;
  height: auto;
  overflow: visible; /* Ensure that overflow is visible, so content isn't cut off */
}

body, html {
  user-select: none; /* Prevent text selection on the entire page */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For older IE/Edge */
}